# Local/private config goes in the include
[include]
    path = ~/.config/.gitconfig.sec

[user]
    name = Oliver Bone

[core]
    editor = nvim

# From there, sections are in alphabetic order

[alias]
    last = log -1 HEAD
    co = checkout
    st = status
    uncommit = reset --soft HEAD~
    unstage = reset HEAD --
    lg = log --graph --abbrev-commit --decorate --date=relative --all

[diff]
    tool = meld

